body{
    background-color: lightgray;
}
#registration-form{
    text-align: center;
    border: 10px;
    border-style: ridge;
}
#first-name{
    margin-bottom: 10px;
}
#last-name{
    margin-bottom: 10px;
}
#username{
    margin-bottom: 10px;
}
#password{
    margin-bottom: 10px;
}
#email{
    margin-bottom: 10px;
    margin-left: 22px;
}
#mobile{
    margin-bottom: 10px;
}
#frame{
    margin-bottom: 10px;
}
